@tailwind base;
@tailwind components;
@tailwind utilities;


/* FONT */

/* Finesse (cho khac)*/
@font-face {
  font-family: 'Finesse';
  src: url('/fonts/Finesse-v2.0/Finesse-v2.0/Fonts/Finesse-Roman.otf') format('truetype');
  font-weight: 900; 
  font-style: normal;
}

/* Finesse (ten) */
@font-face {
  font-family: 'Finesse';
  src: url('/fonts/Finesse-v2.0/Finesse-v2.0/Fonts/Finesse-Oblique.otf') format('truetype');
  font-weight: 900; 
  font-style: italic;
}

/* Be Vietnam Pro */
@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf') format('truetype');
  font-weight: 900; /* Black weight is typically 900 */
  font-style: normal;
}

/*  'Liu Jian Mao Cao' */
@font-face {
  font-family: 'Liu Jian Mao Cao';
  src: url('/public/fonts/Liu_Jian_Mao_Cao/LiuJianMaoCao-Regular.ttf') format('truetype');
  font-weight: 700; /* Bold weight is typically 700 */
  font-style: normal;
}

/* ROOT */
:root {
  --foreground-rgb: 255, 255, 255;
  overflow: clip
  
}

/* FOR MOBILE */
@media only screen and (max-width: 600px) {
  :root {
    background-color: lightblue;
  }
}


/* FOR COMPUTER */



.frame {
  width: 100%; 
  height: 100%;
  position: absolute;
  background: white;
}

.visualizepic {
  max-width: 100%; 
  max-height: 100%
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
